@import 'common.scss';

#footer{
    @include display(flex, flex-start, space-between);
    padding: calculate-padding(3px, 75px);
    background-color: #ececec;
    & p, & a {
      color: rgb(109, 109, 109);
      text-decoration: none;
    }
    & a:hover {
      color:$military-green;
    }
    & .about a, & .myaccount a {
      display: block;
      padding:8px 0;
    }
    & .download {
      border: 1px solid #08817969;
      border-radius: 7px;
    }
  }
  