@mixin fill($attributes, $value) {
  @each $attribute in $attributes {
    #{$attribute}: $value;
  }
}

$military-green: #088178;



#off-banner {
    background: {
      image: url(images/banner/b2.jpg);
      size: cover;
    }
    width: 100%;
    height: 40vh;
    display: flex;
    $attributes: (align-items, justify-content);
    @include fill($attributes, center);
    flex-direction: column;
    & h4, & h2 {
      color: #eaebf0;
    }
    & h2 {
      padding: 20px 0;
    }
  }

