// Paletas de colores básica

// Colores generales
$color-background: #fff;
$color-base: #9B6F91;


//Colores barra de menú
$navbar-background-color: $color-base;
$navbar-color-hover: $color-background;

//Colores del borde 
$border-color: $color-base;

/*Estilos para el contenedor general de mi página*/
$main-container-width: 90%;

$border-width:0.1rem;
$border-style: solid;

//Estilos para los bordes

$border-radius: 1rem;
$boder-radius-big: 2rem;

$figure-width: 30%;